@import url('image-analyzer.css');
@import url('container.css');

body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #FF4F64;
}
